html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0; /* importante */
  background-color: #f1f1f1;
}

.contenedor {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-content: center;
  font-family: "Caveat", cursive;
  background-color: #65d6ce;
  padding: 1rem;
  font-size: 1rem;
  letter-spacing: 1.2px;
  color: white;
}

.stroke {
  text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 0.5px 0.5px #333,
    1px 1px 1px #333;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 3rem;
    font-size: 1.3rem;
  }
}

.indicacion {
  display: flex;
  flex: 0 0 100%;
  justify-content: center;
  margin-top: 1rem;
}

h3 {
  font-size: 1.4rem;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 3.9px;
  color: #654062;
  text-align: center;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.8rem;
  }
}

.formulario {
  display: flex;
  margin-top: 1.5rem;
}

.formulario-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.form-control {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid black;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 3px;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .formulario-form {
    flex-direction: row;
  }
  .form-control {
    margin-left: 1rem;
  }
}

/* INPUT */
.input-ingrediente {
  background-color: white;
  color: black;
}

.input-ingrediente:focus {
  outline: none;
}

.select {
  appearance: none;
  background-color: white;
}

.select:focus {
  outline: none;
}

.button {
  color: white;
  background-color: #654062;
  transition: color 400ms;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1.5px;
  font-size: 1rem;
}

.button:focus {
  outline: none;
}

.button:hover {
  cursor: pointer;
  background-color: #472e45;
  color: #65d6ce;
}

/* TODO: Titulo del resultado de la busqueda */
.titulo-resultado {
  font-size: 1rem;
  padding: 1rem;
  color: #654062;
}

@media screen and (min-width: 768px) {
  .titulo-resultado {
    font-size: 1.3rem;
  }
}

/* Footer */
.footer {
  background-color: #654062;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 1rem;
}

/* Footer en movil */

.contenedor-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.campo-footer {
  flex: 1;
}

.campo-footer h2 {
  font-size: 1.3rem;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 3.9px;
  color: #65d6ce;
  text-align: center;
}

/* Footer en desktop */
@media screen and (min-width: 768px) {
  .contenedor-footer {
    flex-direction: row;
  }
  .campo-footer h2 {
    font-size: 1.8rem;
  }
}

.campo-footer p {
  font-family: "Bebas Neue", cursive;
  font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
  .campo-footer p {
    font-size: 1.6rem;
  }
}

.text-center {
  text-align: center;
}

.iconos-sociales {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
  padding-left: 1rem;
  font-size: 2rem;
}

.text-white {
  color: white;
}

.iconos-sociales img {
  width: 30px;
}

@media screen and (min-width: 768px) {
  .iconos-sociales img {
    width: 50px;
  }
}
